# Entornos virtuales
venv/
env/
ENV/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# Archivos locales
*.log
.DS_Store

# Azure
bin/
obj/
deploy.zip

